@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, monospace;
}

header {
  display: flex;
  padding: 0.75rem;
  flex-flow: row nowrap;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.6);
}
header > .logo {
  width: 3.125rem;
  height: 3.125rem;
}
header > h1 {
  display: inline;
  font-size: 2.25rem;
  margin-left: 1rem;
}

#who-are-we,
footer {
  background: #E7F1EE;
  color: #05445E;
}

header,
#open-source,
#privacy {
  background: #05445E;
  color: #E7F1EE;
}

section {
  padding: 3rem 0;
}

#intro {
  background: url(./images/intro-brackground.jpeg),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.water {
  /*background: #05445E;*/
  width: 100%;
  height: 50px;
}
.wave {
  display: inline-block;
  background: red;
}
.wave:first-child {
  height: 60px;
  width: 20%;
  border-radius: 50% 40%;
}
.wave:nth-child(2) {
  height: 50px;
  width: 20%;
  border-radius: 30% 50%;
}

footer > .logo {
  width: 2.5em;
  height: 2.5em;
}
