@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgba(231, 241, 238, 1);
}

header {
  display: flex;
  position: fixed;
  flex-flow: row nowrap;
  padding: 0.75rem;
  align-items: center;
  height: 5rem;
  width: 100%;
}
header .logo {
  width: 3.125rem;
  height: 3.125rem;
}
header h1 {
  display: inline;
  font-size: 2rem;
  margin-left: 2vh;
}

header,
footer {
  background: #05445E;
  color: #E7F1EE;
}

header a,
footer a {
  text-decoration: none;
  color: inherit;
}

section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: calc(10vh + 4vw) 10vw;
  color: rgba(5, 68, 94, 1);
}
section h2 {
  font-weight: bold;
}
section p {
  line-height: 2.5rem;
}
section a {
  text-decoration: none;
  color: rgba(24, 180, 155, 1);
}

#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/intro-brackground.jpeg) center/cover no-repeat;
  color: rgba(154, 230, 218, 1);
  height: calc(80vh + 2vw);
  justify-content: center;
  align-items: center;
}
#intro > h1 {
  font-size: 4.375rem;
  font-weight: bold;
}
#intro > p {
  font-size: 2.125rem;
  text-align: center;
}

.content {
  display: flex;
}
.content > h2 {
  font-size: 3.125rem;
  margin-bottom: 3.5rem;
}
.content p {
  display: inline;
  font-size: 1.875rem;
  max-width: 48.542rem;
  margin-bottom: 4vh;
}
.content img {
  display: inline;
  align-self: flex-end;
}

#open-source img { width: 20rem; }
#privacy img { width: 10rem; }

footer {
  display: flex;
  height: 7.37rem;
  padding: 0 3vw;
  justify-content: space-between;
  align-items: center;
  font-size: 1.875rem;
}

.seakeep {
  display: flex;
  align-items: center;
}
.seakeep .logo {
  width: 2.5em;
  height: 2.5em;
}
.seakeep span {
  margin-left: 2vw;
}

.social {
  display: inline;
  list-style: none;
}
.social li {
  display: inline;
}
.social img {
  width: 2.250rem;
  height: 2.250rem;
}

@media (max-width: 800px) {
  .content img {
    width: 12px;
    align-self: center;
  }
  #privacy img {
    transform: rotate(90deg);
  }
}
